<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809315174438-hq1du78db6kamp356frcp74g35cdu1fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809315174438-hq1du78db6kamp356frcp74g35cdu1fp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdbPN9tJgjEtHAMTzsY3PXKqWFDThPCUI</string>
	<key>GCM_SENDER_ID</key>
	<string>809315174438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biton.manage.manage</string>
	<key>PROJECT_ID</key>
	<string>taski-manage-tasks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taski-manage-tasks-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809315174438:ios:ff5bbf22bb701a90157ee7</string>
</dict>
</plist>